header{
  background-color: rgb(30, 207, 198);
  padding: 20px;
  margin-bottom: 10px;
}
button{
  background-color: rgb(164, 245, 184);
  padding: 10px;
  font-family: monospace;
  border: none;
  margin-bottom: 10px;
}
.outputBox{
  padding: 10px;
  min-height: 160px;
  width: 60%;
  outline-color: lightseagreen;
  outline-style: solid;
}
